body{
    position: relative;
    max-width: 1800px;
    height: auto;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* justify-content: center; */
}
header{
    /* margin-bottom: 20px; */
    z-index: 1000;
    
}
.logo-jet-nav{
    height: 30px;
}
header.two{
    margin-bottom: 20px;
    z-index: 1000;
    
}

.navbar-toggler-icon {
   display: none;
}
.navbar-toggler{
    background-image: none;
    margin-right: 20px;
    outline: none!important;
}

.jet-logo-footer{
    width: 100px;
    background-color: black;
    margin-top: 20px;
}

section.A{
    height: auto;
    position: sticky;
    top: 0px;
   z-index: 1000;
}
.back-img{
    position: absolute;
    height: 480px;
    width: 100%;
}
section.BG{
    position: relative;
    width: 100%;
    height: 480px;
    background-color: rgb(255, 254, 254);
z-index: 1;
}
/* .main-header{
    background-color: red;
    width: 20px;
    height: 20px;
    z-index: 1000000;
} */
.main-page{
position: absolute;
    background-color: transparent;
    width: 100%;
    /* height: 20px; */
    z-index: 1000000;
    padding-left: 50px;
    padding-top: 50px;

    /* padding-left: 12vw; */
    /* padding-right: 8vw; */
    /* background-image: ; */
  
  /* background-color: rgb(19, 18, 18) */
}
.greet{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    word-spacing: 6px;
}
.brand-detail-2,.brand-detail{
    font-weight: bolder;
    font-size:4.5rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;


}
.joe-text{
    color: #f5f5f8;
    font-weight: bolder;
}
.carousel-item{
    position: relative;
}
.carousel-inner{
    border-radius: 10px;

}
.shop-btn-small{
    padding: 9px 14px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(43, 42, 42);
    color: rgb(63, 61, 61);
    background-color: transparent ;
    transition: 0.5s ease-in-out;


}
.shop-btn{
    padding: 9px 14px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(241, 236, 236);
    color: white;
    background-color: transparent ;
    transition: 0.5s ease-in-out;


}
.shop-btn:hover{
    padding: 9px 14px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(241, 236, 236);
    color: rgb(53, 55, 206);
    background-color:white ;
    transition: 0.3s ease-in;

}
/* .main-header{
    opacity: 0.9;

} */
.blur1{
/* Ellipse 1 */

position: absolute;
width: 465px;
height: 400px;
left: -166px;
top: 60px;

background: rgba(64, 70, 255, 0.35);
filter: blur(150px);
z-index: -10;

}
.blur2{
    /* Ellipse 2 */

position: absolute;
width: 305px;
height: 465px;
right: 20px;
top: -45px;

background: rgba(64, 70, 255, 0.35);
filter: blur(150px);
z-index: -10;
}
.blur4{
    /* Ellipse 1 */
    
    position: absolute;
    width: 465px;
    height: 400px;
    left: -166px;
    top:855px ;
    background: rgba(64, 70, 255, 0.35);
    filter: blur(150px);
    z-index: -10;
    
    }
    .blur3{
        /* Ellipse 1 */
        
        position: absolute;
        width: 465px;
        height: 400px;
        left: -166px;
        top:655px ;
        background: rgba(64, 70, 255, 0.35);
        filter: blur(150px);
        z-index: -10;
    }    
    .blur5{
        /* Ellipse 1 */
        
        position: absolute;
        width: 465px;
        height: 400px;
        left: -166px;
        top:1500px ;
        background: rgba(64, 70, 255, 0.35);
        filter: blur(150px);
        z-index: -10;
        
        }

    




.navbar-brand{
    padding-left: 30px;
}
.navbar-toggler-icon-box{
    background-color: transparent;
    border: none;
}
.navigation-small{
    display: none;
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: rgb(168, 35, 35);
    z-index: 1000000;
    padding-left: 20px;
}
.sticky-bar div{
    margin-top: 15px;

}
.logo-jet-box{
    background-color: black;
width: 150px;
}
.cancel-btn{
    background-color: transparent;
    border: none;
}
.sticky-bar{
    position: sticky;
    top: 20px;
    /* z-index: 100000;
    height: 100%;
    width: 200px;
    background-color: rgb(255, 251, 251); */

  }

.navbar-toggler{
    /* background-color: transparent; */
    /* border: 2px solid white; */
    color: white;
}
.navbar{
  
    background-color:rgb(194, 193, 193);
    background-image: url('images/jet-BG-top.jpg'); /* Replace with the path to your image */
    background-size:cover; /* Adjusts the size to cover the entire container */
    background-position:1px; /* Centers the background image */
    background-repeat: no-repeat;
    /* padding-top: 20px; */
    /* padding-left: 8vw; */
    /* padding-right: 8vw; */
    /* box-shadow: 3px 4px 36px -17px rgba(0, 0, 0, 0.25); */
    /* border-radius: 70px; */
    z-index: 1000;
}
.nav-item{
    padding-right: 40px;
    margin-left: 10px;
    

}

.navbar-nav a.nav1 {
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size:large;
}
.navbar-nav a{
    color: rgb(255, 255, 255);
    font-weight:500;
    font-size:large;
    border-bottom: 2px solid transparent;
    
}
#home-btn,#store-btn,#about-btn,#contact-btn{
    /* color: rgb(255, 255, 255);
    font-weight:500;
    font-size:large; */
    border-bottom: 2px solid transparent;
    color: white;
    transition: 0.5s ease;
    

}
#home-btn:hover,#store-btn:hover,#about-btn:hover,#contact-btn:hover{
    /* color: rgb(255, 255, 255);
    font-weight:500;
    font-size:large; */
    border-bottom: 2px solid white;
    color: white;
    transition: 0.5 ease;
    

}


.collapses{
}

.cart-naira-box{
    display: flex;
}
.cart-show-hide{
    background-color: transparent;
    border: none;
}
.naira-box{
    margin-right: 20px;
}
.cost-total{
    font-weight: bolder;
    font-size: 22px;
    color: white;
    /* margin-top: 5px; */
    position: relative;
    top: 4px;
}
.illustration{
    z-index: 999;
}


.talk{   
    color: white;
    background-color: #4046FF;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    border: none;
    padding: 8px 17px ;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    margin-right: 25px;
}
.talk:hover{
    background-color: rgb(53, 53, 163);
    transition: 0.3s ease-in-out;
}
.mad{
    max-width: 546px;
}
.sevice-btn{
    display: inline;
}
.about-the-buisness{   
    color: white;
    background-color: #0d6efd; 
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    border: 1px solid #0d6efd;;
    height: 41px;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}


.about-the-buisness:hover{
    background-color: #0d6efd;
    transition: 0.3s ease-in-out;
    color: white;
    border: 2px solid #0d6efd;
    padding: 10px;

}
.what-included2{   
    color: white;
    background-color: #0d6efd;  
    font-weight: 400;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    border: 2px solid #0d6efd;
    height: 41px;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.what-included2{
    background-color: #0d6efd;
    transition: 0.3s ease-in-out;
    color: white;
    border: 1px solid #0d6efd;
    padding: 10px;

}
.what-included{   
    color: #252525;
    background-color: rgb(251, 251, 255);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    border: 1px solid #4A4A4A;
    padding: 10px;
    height: 41px;
    
}
.what-included:hover{
    background-color: #0d6efd;
    transition: 0.3s ease-in-out;
    color: white;
    border: 1px solid #0d6efd;
}
.about-the-buisness2{   
    color: #252525;
    background-color: rgb(251, 251, 255);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    padding: 10px;
    height: 41px;
    border: 1px solid #4A4A4A;  
}
.about-the-buisness2:hover{
    background-color: #0d6efd;
    transition: 0.3s ease-in-out;
    color: white;
    border: 1px solid #0d6efd;
}
.rev-iew{   
    color: #252525;
    background-color: rgb(251, 251, 255);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    border: 1px solid #4A4A4A;
    padding: 10px;
    height: 41px;
    

}
.rev-iew:hover{
    background-color: #0d6efd;
    transition: 0.3s ease-in-out;
    color: white;
    border: 1px solid #0d6efd;
}
.rev-iew3{   
    color: rgb(255, 253, 253);
    background-color: #0d6efd;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    border: 1px solid #0d6efd;
    padding: 10px;
    height: 41px;
    

}
.rev-iew3:hover{
    background-color: #0d6efd;
    transition: 0.3s ease-in-out;
    color: white;
    border: 1px solid #0d6efd;
}
/* review page*/
.main-about-service{
    margin-bottom: 100px;

}
.ceo-o{
    display: inline-block;
    position:relative;
    left:10px;
    top: 10px;
}

.ceo-div{
    border-bottom: 1px solid #D8D8D8;
    margin-top: 20px;
}
.ceo{
    display: inline-block;

}
.ceo-rank{
   position: relative;
   top: 10px;
}
.ceo-review{
    margin-top: 30px;
    margin-bottom: 30px;
}
.divider{
    width: 2px;
    height: 22px;
    border-right: 2px solid rgb(14, 14, 14);
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    

}
/*about us page*/
.bluewe{
    color: #4046FF;
    font-size: 47px;
}
.who-are-we{
    font-size: 47px;
}
.bluewe::after{
    content: url(./images/Vector\ 17.png);
    position: relative;
    right: 13px;
    bottom: 15px;

 
    
}
.small-icons{
    position: relative;
    bottom: 2px;
}
section.team-members{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

.figure-caption{
   background-color:#EEEFFF;
   
   
   border-radius: 0px 0px 8px 8px;
}
.figure-img{
    width: 80%;
}
.center-arrival{
    height: 280px;
    width: 100%;
    /* width: 300px; */
}
.counter-value{
    margin: 0px 10px;
    padding-top: 5px;
}
.price-add-to-cart{
    display: flex;
    justify-content: space-evenly
}
.minus-plus-background{
    display: flex;
    background-color: hsl(223, 64%, 98%);
    height: 35px;
    border-radius: 10px;
    justify-content: center;

}
.minus-mark,.add-mark{
    width: 2rem;
    padding: 3px 0px;
    background-color: transparent;
    border: none;
}
.counter-value-women{
    margin: 0px 10px;
    padding-top: 8px;
}
figcaption.figure-caption{
   color: rgb(0, 0, 0); 
   font-family: Nunito;
   font-size: 20px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0em;
}
.senior-consult{
font-family: Nunito;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color: #B0B0B0;


}
img.figure-img{
    margin-bottom: 0;
}

section.F{
    height: auto;
    padding-top: 40px;
    padding-left: 8vw;
    padding-right: 8vw;
    
}
/*end of review page*/
/*start of teams page*/
.team-main-images{
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 6vw;
    max-width: 2000px;

}

/*end of teams page*/
/*blog page*/
section.brand-rep{
    background-image:url(./images/Group\ 2607353\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    padding-left: 3vw;
    padding-right: 3vw;
}


.date{
    font-weight: 300;
    font-size: 20px;
}
.date2{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.see-all{
   font-size: 18px;
   font-weight: 600;
}
.recent-art{
   font-size: 25px;
   font-weight: 700;
   color: #4046FF;
}
.divider2{
    width: 2px;
    height: 30px;
    border-right: 1px solid rgb(85, 85, 85);
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    position: absolute;
    top: 2px;   
}

.divider3{
    width: 2px;
    height: 30px;  
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.technique{
   font-size: 48px;
   font-weight: 700;
   line-height: 80px;
   letter-spacing: -0.02em;
}
.ecommerce-det{
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   letter-spacing: 0em;
}

.btn-10{
    color: white;
    background-color: #4046FF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 8px 17px ;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
   
}
.recent-articles,.recent-articles2{
    padding-left: 3vw;
    padding-right: 3vw;
    max-width: 1400px;

}
.arrow-right-blue{
    margin-top: 10px;
}

/*end of blog page*/
  
.sevice-btn{
    margin-right: 15px;
}


span.paragraph{
    display: inline-block;
    width: 60px;
}

span.line{
    width: 25px;
    height: 2px;
    border-top: 2px solid rgb(236, 66, 66);
    display: inline-block;
    margin-bottom: 2px;
}
.intro1{
    font-size: smaller;
    color: rgb(100, 98, 98);

}
.intro2{
    font-size: 48px;
    line-height: 50px;
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;
}
.intro3{

}
.vec-before{
    position: absolute;
    
}
.vec-before2{
    position: relative;
    bottom: 17px;
    right: 40px;
}
.intro3{
    font-weight: lighter;
    color: rgb(83, 80, 80);
    margin: 10px 0px;
    font-size: 14px;

}
.bluebuisness{
    color: #4046FF;
}
.redsuccess{
    color: rgb(221, 74, 74);
}
.btn1{
    color: white;
    background:linear-gradient(
        135deg,
        rgba(200, 211, 50, 0.96),
        rgba(240, 139, 139, 0.96)
      );
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 8px 17px ;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    margin-top:12px ;
    margin-bottom: 20px;
}
.btn1:hover{
    background-color: rgb(53, 53, 163);
    transition: 0.3s ease-in-out;
}
.hundred{
    font-size: 40px;
    min-width: 100%;
    font-weight:600;
}
.hundred2{
    font-size: 40px;
    min-width: 100%;
    font-weight: 600;
}
.proof{
    min-width: 100%;
    font-size: 15px;
    position: relative;
    color: rgb(85, 85, 85);

}
.above{
    position: absolute;
    top: -80%
}


.trust{
    font-size: larger;
    font-weight: bold;
    color: #a1aaa4;
}


section.B{
    padding-left: 1vw;
    margin-top: 4vw;
    background-color: rgb(255, 255, 255);
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  #IconChangeColor {
    animation: blink 2s infinite; /* Blinking animation with a 1-second duration, repeating infinitely */
  }
span.line2{
    width: 15px;
    height: 2px;
    border-top: 2px solid rgb(27, 27, 27);
    display: inline-block;
    margin-bottom: 0px;
}
h5{
    display: inline;
    color:#4046FF;
}
h6.ex{
    font-weight: bolder;
}
.spec{
    
    color:#141414;
    font-size: 20px;
    font-weight: bold;
}
section.C{
    padding-left:3vw ;
    padding-right:3vw;
    padding-top: 2vw;
    background-color: rgb(224, 240, 227);
    
}
.dev-details{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}
h3.gap{
    margin-bottom: 20px;
    font-weight: bold;
    font-size:4rem;
}
h3.why-choose{
    font-size: 40px;
    font-weight: bold;
}
h3.discover{
    font-size: 48px;
    font-weight: bold;
}

h5{
    font-size: small;
}
h4.biz-dev{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
h5.have-to-say{
    font-size: 36px;
    font-weight: bold;
}
a.what-we-do1{
    text-decoration: none;
    color: rgb(138, 137, 137);
    font-weight:bold;
    font-size: 16px;
}
a.what-we-do{
    color:#4046FF;
    font-weight: bolder;
    font-size: 16px;

}
a.in-touch{
    color: #4046FF;
    
}

section.D{
    margin-left:5vw ;
    margin-right:5vw;
    margin-bottom: 2vw;
}
section.E{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    padding-top: 1vw;

    position: relative;
    /* bottom:20px; */
    background:linear-gradient(
        135deg,
        rgba(198, 235, 208, 0.96),
        rgba(193, 171, 233, 0.96)
      );

}

.get-in-touch{
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    
}
a.in-touch{
    text-decoration: none;

}
.shop-relative{
    position: relative;
}
.overlay-shop-btn{
    position: absolute;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(241, 236, 236);
    color: white;
    background-color: transparent ;
    transition: 0.5s ease-in-out;
    left: 37%;
    bottom: 40%;

}

.overlay-shop-btn:hover{
    position: absolute;
    padding: 9px 14px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(241, 236, 236);
    color: rgb(53, 55, 206);
    background-color:white ;
    transition: 0.3s ease-in;

}

.experienced{
    border-left:4px solid #a9a9ab;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 3px 4px 36px -17px rgba(0, 0, 0, 0.25);
    max-width: 440px;
   
}




section.E{
    margin-top: 0px;
}
.slide-preview{
    height: 340px;

}
/* accordion button*/
button.accordion-button{
    background:linear-gradient(
        135deg,
        rgba(198, 201, 159, 0.96),
        rgba(231, 183, 183, 0.96)
      );
    font-size: small;  
        font-weight: bold;
        color: rgb(0, 0, 0);
        height: 47px;       
           
    }
    
      button.accordion-button:not(.collapsed){
        background: rgb(255, 255, 255);
        color: blue;  
        font-size: small;
        height: 47px;    
        box-shadow: 2px 5px 20px rgb(222, 222, 222);
       
    }
    
    button.accordion-button:not(.collapsed):focus{
        box-shadow: none;
        box-shadow: 2px 5px 20px rgb(222, 222, 225);
    }
    .accordion-header{
        
    }
  
    button.accordion-button:focus{
       box-shadow:0 0 0 ;
       outline: 0;
       border-color: #f5f5f5;
    }
    
    .accordion-collapse{
        background-color: rgb(255, 255, 255);
    }
    .accordion-body{
        font-family: Nunito;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .accordion{
        border:none; 
        box-shadow: none;
    }
    .accordion-item{
        border-radius: 10px !important;
        max-width: 440px;
         margin-bottom: 20px;
    }
/*end of accordion*/

.interested-in-scaling{
    background-color:#EEF1FC;



}
footer{
    background: #D4D4D847;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: auto;
    margin-right: auto;
}
footer2{
    background: #D4D4D847;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: auto;
    margin-right: auto;
}
.mud * a{
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
   
    font-size: 14px;
    color: #000120;
}
.mud{
    line-height: 20px;
}
.explore{
    font-weight: 550;
    line-height: 40px;
}
.follow-us{
    padding-top:6px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.social-logo1{
    padding-right: 30px;
}
.form-control1{
    width: 67%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(115, 115, 115, 0.858); 
}
.form-control1:focus {
    outline: none !important;
    box-shadow: none;
}
.email-for-deals{
    background-color: rgb(255, 255, 255);
    
    border: 2px solid rgb(104, 104, 224);
   
    border-radius: 5px;
    height: 36px;
    width: 55%;
}
.email-for-deals::placeholder{
    color: rgb(141, 140, 140);
    font-size: small;
}
.subscribe form{
  
}
.subscription-button{
    color: white;
    width: 45%;
    background-color:#4046FF;
    border-radius: 5px;
    padding: 8px 24px 8px 20px;
    border: none;
    transition: 0.5s ease-in-out;
    height: 36px;
    font-size: 100%;
}

.sub-news{   
    font-size: 14px;
    font-weight: bold;
}
.copyright{
    border-top: 1px solid rgb(177, 175, 175);
}

.navbar-nav a.ser-vice {
    color: blue;
    font-weight:500;
    font-size: small;
    }
.lapa{ 
     width:28px;
     height:28px;
     position:relative;
}
      
 .lapa:after{
        content:"";
        position:absolute;
        border-top:1px solid red;
        width:40px;
        transform: rotate(45deg);
        transform-origin: 0% 0%;
      }
      .fact100{
        font-size: 52px;

      }
      .factlow{
        font-size: 24px;
        font: nunito;
        margin-bottom: 20px;

      }
      /*policy page*/
        .policy-details{
            line-height: 20px;
        }
        .priacy-section{
            padding-left: 5vw;
            padding-right: 5vw;   
            background-color: blue;
            color: white;
                
        }
        .our-privacy-policy{
            padding-left: 5vw;
            padding-right: 5vw;  

        }
        .bullet{margin-right: 10px;

        }
      /*end of policy page*/
 /*contact page*/
 .vec-before3{
    position: absolute;
    
}
.vec-before4{
    position: relative;
    bottom: 25px;
    left: 300px;
}

.contact-img{
    z-index: 100;
  
}
.contact-page{
  
    padding-left: 8vw;
    padding-right: 8vw;
}
.page{
    height: 550px;
}
.free-consultation{


font-size: 1.2em;
font-weight: 500;



}
label{
    color: blue;
}
textarea.form-control {
    resize: none;
  }
  
  
textarea.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #D8D8D8
 
} 
.input-group input:focus {
    outline: none;
  }
#Fullname,#Email,#inputState:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #D8D8D8
}
#inputState{
    background-color: white;
    width: 100%;
    height: 63%;
    border-radius: 5px;
    padding-left:10px ;
    padding-right: 20px;
    outline: none;
    box-shadow: none;
    border: 1px solid #D8D8D8
    
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url('images/chevron-down.png');
    background-repeat: no-repeat;
    background-position: right 20px bottom 6px;
   
  }
  
  /* Style the arrow image */
  select option {
    color: rgb(241, 0, 0);
  }
  
  select::-ms-expand {
    display: none;
  }
 
 
  option:hover {
    background-color: yellow;
  }
  a {text-decoration: none !important;

  }

 /*end of contact page*/






 

@media screen and (max-width: 981px) {
   
    

}
@media screen and (max-width: 570px) {
    .visi1{
        display: none;
    }
    

}
@media screen and (min-width: 991px) {
    .navigation-small{
        display: none !important;
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: rgb(250, 246, 246);
        z-index: 1000000;
        padding-left: 20px;

    }
    
  
    

.second-naira-cart-box{
    display: none;
}
}
@media screen and (min-width: 570px) {
    .visi2{
        display: none;
        
    }
    

}
@media screen and (max-width: 380px) {
    .break{
        display: none;
    }
     
}
@media screen and (max-width: 500px) {
    
    .jet-logo-footer{
        width: 70px;
        
    }
     
}
@media screen and (max-width: 981px) {
   
    

}

@media screen and (max-width: 700px) {
    h3.gap{
        margin-bottom: 20px;
        font-weight: bold;
        font-size:2.5rem;
    }
    .main-page{
        position: absolute;
            background-color: transparent;
            width: 100%;
            /* height: 20px; */
            z-index: 1000000;
            padding-left: 10px;
            padding-top: 0px;
        
            /* padding-left: 12vw; */
            /* padding-right: 8vw; */
            /* background-image: ; */
          
          /* background-color: rgb(19, 18, 18) */
        }
        .greet{
            font-weight: bold;
            font-size: 1.2rem;
            font-family: 'Kumbh Sans', sans-serif;
            color: white;
            word-spacing: 6px;
            /* margin-bottom: 1px; */
        }
        .brand-detail-2,.brand-detail{
            font-weight: bolder;
            font-size:2.5rem;
            font-family: 'Kumbh Sans', sans-serif;
            color: white;
        
        
        }

.back-img{
    position: absolute;
    height: 300px;
    width: 100%;
}
section.BG{
    position: relative;
    width: 100%;
    height: 300px;
    /* background-color: red; */
z-index: 1;
}}
@media screen and (max-width: 766px) {
    .who-are-we{
        font-size: 47px;
        text-align: center;
    }
    .button12{
        text-align: center;
    }
    footer.two{
        background: #D4D4D847;
        padding-left: 4vw;
        padding-right: 4vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 400px;
    }
    .free-consultation{


        font-size: 1em;
        font-weight: 500;
        text-align: center;
        
        
        
        }
   
     .sevice-btn{
        display: block;
    }
    .mad{
    
        margin-left: auto;
        margin-right: auto;
    }
    .dev-btnss {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
   .biz-net{
    margin-left: auto;
    margin-right: auto;
   
    text-align: center;

   }
    
    section.E{
        
       
        text-align: center;
    }
    .why-redella,.why-choose{
        text-align: center;
        margin-top: 30px
    }
    .accordion-item{
        max-width: none;
         margin-bottom: 20px;
    }
.accordion{
    
    text-align: center;
    }
.experienced{
    border-left:4px solid #a9a9ab;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 3px 4px 36px -17px rgba(0, 0, 0, 0.25);
    max-width: 340px;
   
    margin-left: auto;
    margin-right: auto;
   }
   .technique{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
 }
 .see-all{
    text-align: center;
 }
 .recent-art{
    text-align: center;
 }  
 .recent-articles{
    text-align: center;
}
.recent-articles2{
    display: none;
}
.follow-us{
    padding-top:25px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.mud2{
    text-align: center;
}


}

@media screen and (max-width: 991px) {
    .navigation-small{
        display: none;
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: rgb(250, 246, 246);
        z-index: 1000000;
        padding-left: 20px;

    }
    #home-btn,#store-btn,#about-btn,#contact-btn{
        /* color: rgb(255, 255, 255);
        font-weight:500;
        font-size:large; */
        border-bottom: none !important;
        color: rgb(50, 50, 65);
        transition: 0.5s ease;
        font-weight: bold;
        /* margin-bottom: 20px; */
        /* font-weight: 1.9rem; */
        
    
    }
    #home-btn:hover,#store-btn:hover,#about-btn:hover,#contact-btn:hover{
        /* color: rgb(255, 255, 255);
        font-weight:500;
        font-size:large; */
        border-bottom: none !important;
        color: rgb(50, 50, 65);
        transition: 0.5s ease;
        
    
    }
    .navbar-brand{
        display: none;
    }
    .collapse {
        /* background-color: red; */
        /* display: none; */
    }
    .navbar-collapse{
        display: none;
    }
    section.A{ 
        height: auto;
        position: sticky;
        top: 0px;
    }
    h3.why-choose{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    h3.discover{
        font-size: 40px;
    }
    .navbar-nav li  {
        border-bottom: 1px solid #ccc;
        width: 96%; 
      }
     ul.navbar-nav li.no-line {
        border-bottom: none;
      }
      
     
      .what-we-do1{
        text-align: center;
      }
    .contact-page{
  
        padding-left: 0vw;
        padding-right: 0vw;
    }
    .middle{
        text-align: center;
        display:none;
    }
    .contact-img{
        margin-bottom: 100px;
    }
    header{
        /* margin-bottom: 30px; */
        z-index: 1000;   
    } 
    header.two{
        margin-bottom: 0px;
        z-index: 1000;   
    } 
    .collapse{
        padding-left: 0px;
        padding-right: 0px;  
    }
    .navbar-brand{
        padding-left: 0px;
    }
    .navbar{
        background-color:rgb(194, 193, 193);
        background-image: url('images/jet-BG-top.jpg'); /* Replace with the path to your image */
        background-size:cover; /* Adjusts the size to cover the entire container */
        background-position:1px; /* Centers the background image */
        background-repeat: no-repeat;
        /* padding-top: 20px; */
        /* padding-left: 8vw; */
        /* padding-right: 8vw; */
        /* box-shadow: 3px 4px 36px -17px rgba(0, 0, 0, 0.25); */
        /* border-radius: 70px; */
        z-index: 1000;
    }
    .model1{
        display: none;
    }
    .talk{   
        color: white;
        background-color: blue;
        border-radius: 5px;
        font-size: small;
        font-weight: 600;
        border: none;
        padding: 10px 25px ;
        font-family:Arial, Helvetica, sans-serif;
        transition: 0.5s ease-in-out;
        width: 96%;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
        
        
    }
    .logo3{
        width: 30%;
    }
    .trust{
        
        
        line-height: 70px;
    }
    
   
    

}
@media screen and (min-width: 1400px) {
    .recent-articles,.recent-articles2{
        padding-left: 8vw;
        padding-right: 8vw;
        margin-left: auto;
        margin-right: auto;
    
    }
    .team-main-images{
        padding-left: 8vw;
        padding-right: 8vw;
        margin-bottom: 6vw;
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    
    }
    
}

@media screen and (min-width: 1500px) {

    
    section.A{
    
       
        height: auto;
    position: sticky;
    top: 0px;
    }
    
    .calm{
        margin-right: 10vw;
    }
    
    section.C{
        
    }
    section.D{
        margin-left:5vw ;
        margin-right:5vw;
    }
    /* section.E{
        margin-left:25vw ;
        margin-right:25vw;
    } */
    
    .loww{
        margin-left: 9vw;
   }
   .experienced{
    border-left:4px solid #a9a9ab;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 3px 4px 36px -17px rgba(0, 0, 0, 0.25);
    max-width: none;
    min-width: none;
}

}


